$white: #fff;
$col-black: #000000;
$col-foot1: #011738;
$col-foot2: #34302b;
$col-green: #566756;
$overlay: #3b363c;
$col-btn: #c1a58f;
$col-sec-even: #566756;

$bluec: #001738;
$orangec: #F2A37A;

// Font Size

$fsz: 15px;